@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen;
  @apply bg-gray-50;
}

#__next {
  @apply flex;
  @apply flex-col;
  @apply min-h-screen;
}

/* Overrides for swiper pkg */
:root {
  --swiper-navigation-color: white !important;
  --swiper-theme-color: white !important;
}

div.swiper-button-next {
  color: white !important;
}

div.swiper-button-prev {
  color: white !important;
}
